<mat-toolbar>
  <span>Quick Url Shortener</span>
</mat-toolbar>
<div class="container">
  <mat-card>
    <mat-card-title>URL Shortener</mat-card-title>
    <mat-card-subtitle>Shorten your links with just a click!</mat-card-subtitle>
    <mat-card-content>
      <form class="form-group" [formGroup]="form">
        <div class="form-container">
          <mat-form-field appearance="fill">
            <mat-label>URL to Shorten</mat-label>
            <input matInput formControlName="full_url" />
          </mat-form-field>
          <mat-checkbox class="checkbox" formControlName="custom"
            >Custom URL
          </mat-checkbox>

          <div *ngIf="this.form.value.custom">
            <mat-form-field appearance="fill">
              <mat-label>Shortened URL</mat-label>
              <input matInput formControlName="short_url" />
            </mat-form-field>
          </div>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            class="upload-btn"
            [disabled]="form.invalid"
            (click)="createUrlPair()"
          >
            Generate
          </button>

          <div *ngIf="createdUrl" class="margin-top">
            Generated URL:
            <a class="link margin-top" (click)="navigateFullUrl(createdUrl)">{{
              createdUrl
            }}</a>
          </div>
          <div *ngIf="errMsg" class="err-msg margin-top">{{ errMsg }}</div>
        </div>
      </form>
    </mat-card-content>
    <mat-card-footer
      ><div class="footer-container">
        <h1>Generated URLs</h1>
        <div *ngIf="history" class="history-container">
          <h3>Past shortened URLs ({{ history.length }} URLs)</h3>
          <mat-list>
            <mat-list-item *ngFor="let urlPair of history" class="list-item"
              ><div matLine>
                Short URL:
                <a class="link" (click)="navigateTo(urlPair.short_url)">{{
                  getShortUrl(urlPair.short_url)
                }}</a>
              </div>
              <div matLine>Full URL: {{ urlPair.full_url }}</div></mat-list-item
            >
          </mat-list>
        </div>
        <div class="history-container" *ngIf="!history">
          <h3>No shortened URLs yet!</h3>
        </div>
      </div></mat-card-footer
    >
  </mat-card>
</div>
